!acbuild/m4
*.ncb
*.suo
*.user
Makefile
Makefile.in
acbuild/*
aclocal.m4
autom4te.cache/
bin
build/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
d2u.sh
doc/Makefile
doc/Makefile.in
libtool
m4/*.m4
mmd.sh
src/*/*.la
src/*/*.lo
src/*/*.o
src/*/.deps
src/*/.libs
src/*/Makefile
src/*/Makefile.in
src/Makefile
src/Makefile.in
src/Testsuite/testsuite
src/browser/Makefile.qt
src/browser/browser
src/cleanup/cleanup
src/cvtool/cvtool
src/export/export
src/fextool/fextool
src/icatool/icatool
src/labeller/labeller
src/septool/septool
stamp-h1
