!acbuild/m4
*.o
*.a
*.d
*.db
*.wav
*.ncb
*.suo
*.user
*.dat
*.so
*/*.so
*/*.so*
*/*/*.so*
src/*/*.Release
src/*/*.Debug
.qmake.*
err.txt
*/err.txt
*/*/err.txt
Makefile
Makefile.in
acbuild/*
!acbuild/m4
aclocal.m4
autom4te.cache
bin
build
config.h
config.h.in
config.h.in~
config.log
config.status
configure
d2u.sh
doc/Makefile
doc/Makefile.in
doc/manual/*.aux
doc/manual/*.bbl
doc/manual/*.blg
doc/manual/*.log
doc/manual/*.out
doc/manual/*.pdf
doc/manual/*.toc
doc/html
doc/latex
libtool
m4/*.m4
mmd.sh
cmake-build/*
build/*
src/*/*.la
src/*/*.lo
src/*/*.o
src/*/.deps
src/*/.libs
src/*/Makefile
src/*/Makefile.in
src/Makefile
src/Makefile.in
src/Testsuite/testsuite
src/benchmark/benchmark
src/browser/Makefile.qt
src/browser/browser
src/cleanup/cleanup
src/cvtool/cvtool
src/export/export
src/exportaudio/exportaudio
src/fextool/fextool
src/icatool/icatool
src/labeller/labeller
src/septool/septool
src/nmdtool/nmdtool
stamp-h1
win32/Setup_openBliSSART/Release
win32/Setup_openBliSSART/Debug
cmake-build
build-cmake
build
CMakeCache
browser
cmake
CMake
.qt
.qtc*
Makefile
CMakeFiles
auto2cmake.py
cmake-project.sh
cmakeblissart.txt
configure.ac~
configure_autotools.log
configure~
doc/q.log
make_autotools.log
make_cublas.txt
make_install_autotools.log
openBlis
src/LibFeature/LibFeature.pro
src/LibFeature/Makefile.sub_LibFeature
src/LibFramework/Makefile.Debug
src/LibFramework/Makefile.Release
src/LibFramework/Makefile.am
src/LibFramework/Makefile.sub_LibFramework
src/LibFramework/cmake_install.cmake
src/LibFramework/libFramework.so.1.0.0
src/LibICA/LibICA.pro
src/LibICA/Makefile.sub_LibICA
src/LibLinAlg/debug/libLinAlg.so.1
src/LibLinAlg/debug/libLinAlg.so.1.0
src/LibLinAlg/debug/libLinAlg.so.1.0.0
src/LibLinAlg/debug/libLinAlgd.so.1
src/LibLinAlg/debug/libLinAlgd.so.1.0
src/LibLinAlg/debug/libLinAlgd.so.1.0.0
src/LibLinAlg/pro_debug.txt
src/build-LibFramework-Desktop-Release/Makefile.Debug
src/build-LibFramework-Desktop-Release/Makefile.Release
src/build-LibFramework-Desktop-Release/libFramework.so
src/build-LibFramework-Desktop-Release/libFramework.so.1
src/build-LibFramework-Desktop-Release/libFramework.so.1.0
src/build-LibFramework-Desktop-Release/libFramework.so.1.0.0
sub_core.pro
CMakeCache.txt
build-Lib*
valgrind*.txt
openBlis
src/LibFeature/LibFeature.pro
src/LibFramework/Makefile.Debug
src/LibFramework/Makefile.Release
src/LibFramework/Makefile.am
src/LibFramework/libFramework.so.1.0.0
src/LibICA/LibICA.pro
src/build-LibFramework-Desktop-Release/Makefile.Debug
src/build-LibFramework-Desktop-Release/Makefile.Release
src/build-LibFramework-Desktop-Release/libFramework.so
src/build-LibFramework-Desktop-Release/libFramework.so.1
src/build-LibFramework-Desktop-Release/libFramework.so.1.0
src/build-LibFramework-Desktop-Release/libFramework.so.1.0.0
